<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home page{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/spf/2.4.0/spf.js"></script>
    <script>
      spf.init();
    </script>
</head>
<body class=" indigo lighten-5">

    <nav class="light-blue darken-2">
        <ul>
            <li><a class="spf-link" href="/">Home</a></li>
        </ul>
    </nav>

    <div class="container" id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>